# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno y secretos
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos vectorial (NO SUBIR AL REPO)
chroma_db/
*.sqlite3

# IDEs y sistemas operativos
.vscode/
.idea/
.DS_Store
Thumbs.db
